<%= form_with(model: disscussion, local: true) do |form| %>
  <% if disscussion.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(disscussion.errors.count, "error") %> prohibited this disscussion from being saved:</h4>

      <ul>
      <% disscussion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit "Save Discussion", class: "waves-effect waves-light btn" %>
  </div>
<% end %>
