<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @disscussion.headline %>
</p>

<p>
  <strong>Content:</strong>
  <%= @disscussion.content %>
</p>

<%= link_to 'Edit', edit_disscussion_path(@disscussion) %> |
<%= link_to 'Back', disscussions_path %>
